<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fake livechat</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mockjs@1.1.0/dist/mock.min.js"></script>
  </head>
  <body>
    <div id="livechat">
      <ul>
        <li v-for="item in dataSource" :key="item.id">
          <yt-live-chat-text-message-renderer v-if="item.paid" :id="item.id">
            <div id="message">{{item.message}}</div>
          </yt-live-chat-text-message-renderer>
          <yt-live-chat-paid-message-renderer
            v-if="!item.paid"
            :id="item.id"
            style="--yt-live-chat-paid-message-primary-color:rgba(29,233,182,1);"
          >
            <div id="message">[paid]{{item.message}}</div>
          </yt-live-chat-paid-message-renderer>
        </li>
      </ul>
    </div>
    <script>
      new Vue({
        el: '#livechat',
        data: {
          dataSource: Mock.mock({
            'data|10': [{ message: '@csentence', id: '@id', paid: '@bool' }],
          }).data,
        },
        mounted() {
          setInterval(() => {
            this.dataSource.shift()
            this.dataSource.push(
              Mock.mock({ message: '@csentence', id: '@id', paid: '@bool' })
            )
          }, 1000)
        },
      })
    </script>
  </body>
</html>
